{% extends "base.html.twig" %}

{% block title "Confirmation" %}

{% block body %}
	<h1>Merci pour votre inscription !</h1>

	<p>
		Pensez à vérifier vos mails <br>
		Veuillez cliquer sur le lien que nous vous avons envoyé
		par email, afin de confirmer votre adresse.
	</p>
{% endblock %}
