{% extends "base.html.twig" %}

{% block title %}
	À propos de moi
{% endblock %}

{% block body %}
	<h1>À propos de moi</h1>

	<div class="mt-5">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci exercitationem explicabo laboriosam nesciunt, nobis numquam quia ratione recusandae veniam voluptatem.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci exercitationem explicabo laboriosam nesciunt, nobis numquam quia ratione recusandae veniam voluptatem.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci exercitationem explicabo laboriosam nesciunt, nobis numquam quia ratione recusandae veniam voluptatem.</p>
	</div>
{% endblock %}

