{% extends "base.html.twig" %}

{% block title %}
	Bienvenue sur mon site
{% endblock %}

{% block body %}
	<h1>Accueil !</h1>

	<p class="mt-5">Bienvenue sur mon site, vous êtes à l'accueil</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate ex exercitationem impedit, ipsa iure laudantium molestiae obcaecati sed totam?</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor facilis maxime mollitia sed totam.</p>
{% endblock %}
