<h1>Validez votre compte</h1>

Bonjour {{ user.firstname }}, <br>
Merci d'avoir créé un compte sur notre site.
<br><br>
Veuillez cliquer sur le lien ci-dessous pour valider votre compte : <br>
<a href="{{ link }}">{{ link }}</a>
