{% extends "base.html.twig" %}

{% block title "Modifier un article" %}

{% block body %}
	<a href="{{ path('user_blog_index') }}"><- Retour</a>

	<h1>Modifier un article</h1>

	{% include 'admin/blog/_form.html.twig' %}
{% endblock %}
