{% extends "base.html.twig" %}

{% block title %}
	Titre de l'article
{% endblock %}

{% block body %}
	<h1>Titre de l'article</h1>

	<div class="mt-5">
		Contenu de l'article ... <br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, temporibus!
	</div>
{% endblock %}

